
ISTA220/Exercise/.vs/BigMath/v15/.suo
ISTA220/Exercise/.vs/BigMath/v15/Server/sqlite3/db.lock
*.ide
ISTA220/Exercise/.vs/BigMath/v15/Server/sqlite3/storage.ide-shm
ISTA220/Exercise/.vs/BigMath/v15/Server/sqlite3/storage.ide-wal
ISTA220/Exercise/BigMath/bin/Debug/BigMath.exe
ISTA220/Exercise/BigMath/bin/Debug/BigMath.exe.config
*.pdb
ISTA220/Exercise/BigMath/obj/Debug/App.g.cs
*.resx
*.settings
ISTA220/Exercise/BigMath/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ISTA220/Exercise/BigMath/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ISTA220/Exercise/BigMath/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.baml
*.cache
*.lref
*.resources
*.txt
ISTA220/Exercise/BigMath/obj/Debug/BigMath.exe
ISTA220/Exercise/BigMath/obj/Debug/App.g.i.cs
ISTA220/Exercise/BigMath/obj/Debug/MainWindow.g.cs
ISTA220/Exercise/BigMath/obj/Debug/Window4.g.i.cs
ISTA220/Exercise/BigMath/obj/Debug/CircleCalc.g.cs
ISTA220/Exercise/BigMath/obj/Debug/CircleCalc.g.i.cs
ISTA220/Exercise/BigMath/obj/Debug/MainWindow.g.i.cs
ISTA220/Exercise/BigMath/obj/Debug/HemiSphere.g.i.cs
ISTA220/Exercise/BigMath/obj/Debug/HemiSphere.g.cs
ISTA220/Exercise/BigMath/obj/Debug/Quadratic.g.cs
ISTA220/Exercise/BigMath/obj/Debug/Quadratic.g.i.cs
ISTA220/Exercise/BigMath/obj/Debug/TriCalc.g.cs
ISTA220/Exercise/BigMath/obj/Debug/TriCalc.g.i.cs
ISTA220/Exercise/BigMath/obj/Debug/Window1.g.i.cs
ISTA220/Exercise/BigMath/obj/Debug/Window2.g.i.cs
ISTA220/Exercise/BigMath/obj/Debug/Window3.g.i.cs
ISTA220/Exercise/BigMath/Properties/Resources.Designer.cs
ISTA220/Exercise/BigMath/Face.png
ISTA220/Exercise/BigMath/BigMath.csproj
ISTA220/Exercise/BigMath/BigMath.csproj
ISTA220/Exercise/BigMath/MainWindow.xaml.cs
ISTA220/Exercise/BigMath/obj/Debug/BigMath.csproj.CopyComplete
ISTA220/Exercise/BigMath/Properties/Resources.Designer.cs
ISTA220/Exercise/BigMath/Properties/Settings.Designer.cs
ISTA220/Exercise/packages/Eto.Forms.2.4.1/build/Eto.Forms.targets
ISTA220/Exercise/packages/Eto.Forms.2.4.1/Eto.Forms.2.4.1.nupkg
*.dll
*.nupkg
*.xml
ISTA220/Exercise/packages/OxyPlot.Core.2014.1.546/LICENSE
ISTA220/Exercise/BigMath/obj/Debug/Window5.g.i.cs
ISTA220/Exercise/BigMath/Properties/Resources.Designer.cs
ISTA220/Exercise/BigMath/Properties/Settings.Designer.cs
*._
